header.black-text {
    background-image: none;
    background-color: #FFFFFF;
}

.black-text .logo-title {
    color: var(--color-dark-l);
}

.black-text .logo-subtitle {
    color: var(--color-dark-3xl);
}

.black-text .menu a {
    color: var(--color-dark-l);
}

.pets-content {
    padding: 80px 0 100px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px 0;
}