body {
    background-image: url(../images/noise_transparent@2x.png);
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.subheading {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

header {
    background-image: url(../images/start-screen-gradient-background.png);
    padding: 30px 40px 0;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.logo-subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    color: var(--color-light-xl);
}

.menu {
    display: flex;
    gap: 35px
}

.menu a {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-s);
    text-decoration: none;
    border-color: var(--color-primary);
}

.menu a:hover {
    color: var(--color-light-s);
}

.menu a:focus{
    color: var(--color-light-s);
    border-bottom: 3px solid;
    border-color: var(--color-primary);
    padding-bottom: 4px;
}

.header-body {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.about-site {
    padding: 163px 0 0;
}

.header-body h2 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
    width: 310px;
}

.header-subheading {
    color: var(--color-dark-s);
    margin: 42px 0;
}

.button {
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    border: none;
    border-radius: 100px;
    padding: 15px 45px;
    background-color: var(--color-primary);
}

.button:hover {
    cursor: pointer;
}

.header-body .main-icon img{
    min-height: 728px;
    min-width: 698px;
}

.about-content {
    background-color: #FFFFFF;
    padding: 80px 215px 100px;
    display: flex;
    justify-content: space-between;
    gap: 120px
}

.about-content img{
    min-height: 408px;
    min-width: 300px;
}

h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: var(--color-dark-l);
    letter-spacing: 0.06em;
    width: 400px;
}

.about-description, .about-subheading {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--color-dark-xl);
}

.pets-content {
    background-color: #FFFFFF;
    padding: 80px 145px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px
}

.pets-content  h3{
    text-align: center;
}
